<h1>Modules</h1>

<h2>Ten-Pin Modules</h2>

{{#each tenpin as |item|}}
  <div class="module">
    <div class="module-image">
      <div><img src="{{item.image}}"></div>
      <a href="{{item.buy}}" class="module-purchase">Purchase</a>
      <div class="module-package">
        <code>npm install {{item.package}}</code>
      </div>
      <a href="">View library on Github &rarr;</a>
    </div>
    <div class="module-desc">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    </div>
  </div>
{{/each}}

<hr>

<h2>Community Modules</h2>

{{#each community as |item|}}
  <div class="module">
    <div class="module-image">
      <div><img src="{{item.image}}"></div>
      <a href="{{item.buy}}" class="module-purchase">Purchase</a>
      <div class="module-package">
        <code>npm install {{item.package}}</code>
      </div>
      <a href="">View library on Github &rarr;</a>
    </div>
    <div class="module-desc">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
    </div>
  </div>
{{/each}}
