<ul class="home post-list">
  {{#each page.posts.data as |item|}}
    <li class="post-list-item">
      <article class="post-block">
        <h2 class="post-title">
          <a class="post-title-link" href="{{item.path}}">
            {{item.title}}
          </a>
        </h2>
        {{>postInfo item=item}}
        <div class="post-content">
          {{log item}}
          {{item.excerpt}}
        </div>
        <a class="read-more" href="{{item.path}}">Read more...</a>
      </article>
    </li>
  {{/each}}
</ul>{{!--  Archive Page--}}
