<div class="copyright">
  <p>&copy; {{copyrightYear}} <a href="{{copyrightURL}}">{{copyrightName}}</a>.<br>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> &amp; <a href="{{theme.url}}" target="_blank">{{theme.name}}</a>.</p>
</div>